/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color, #000);
  background-image: var(--page-gradient, --main-color);
  font-variation-settings: 'wght' var(--main-font-weight);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-attachment: fixed;
}

.page__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--section_with);
  border: 2px solid var(--accent-color, #000);
  color: currentColor;
  background: var(--main-color, #fff);
}

.header {
  justify-content: flex-end;
  align-items: center;
  margin-block: 100px;
  font-family: var(--decor-font, fantasy);
}

.header__theme-menu {
  display: flex;
  margin-block-start: 24px;
  margin-block-end: 23px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-block-end: 105px;
}

.title-big {
  margin-block-start: 137px;
  margin-block-end: 20px;
  font-weight: 400;
  font-size: var(--title-size-big);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.title-med {
  font-weight: 400;
  font-size: var(--title-size-med);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 2px solid var(--accent-color);
  background: var(--main-color);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.theme-menu__item {
  position: relative;
  margin-inline-start: 18px;
}

.theme-menu__button {
  border: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  transition:
    opacity 0.3s,
    ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  border: none;
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__item:has(.theme-menu__button:disabled)::before {
  content: '▶';
  position: absolute;
  top: 1px;
  left: -14px;
  opacity: 0.6;
  animation: decor-animation 0.5s infinite ease-in-out alternate;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__description-image {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.image__decor {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--decor-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-shadow:
    -1px 0 var(--decor-shadow-color),
    0 1px var(--decor-shadow-color),
    1px 0 var(--decor-shadow-color),
    0 -1px var(--decor-shadow-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--decor-shadow-color)) or
    (-webkit-text-stroke: 1px var(--decor-shadow-color))
) {
  .image__decor {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--decor-shadow-color);
    text-stroke: 1px var(--decor-shadow-color);
  }
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 696px;
}

.filter-complex {
  filter: invert(1) brightness(100%) saturate(60%) hue-rotate(90deg);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-contrast {
  filter: contrast(100);
}

.filter-invert {
  filter: invert(1);
}

.filter-hue__rotate {
  filter: hue-rotate(20deg);
}

.filter-saturate {
  filter: saturate(30%);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.card__description {
  display: flex;
  flex-direction: column;
}

.card__description-title {
  padding-inline: 10px;
  padding-block: 5px;
  font-variation-settings: 'wght' var(--title-font-weight);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.card__description-text {
  margin-inline: 25px;
  padding-block-start: 25px;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight);
  font-size: 18px;
  font-style: normal;
  line-height: 21px; /* 116.667% */
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin-inline-end: 26px;
  margin-block-end: 24px;
  margin-block-start: 4px;
}

.card__like-button {
  width: 126px;
  height: 39px;
  padding: 0;
}

.button:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 0 var(--accent-color);
}

.button:hover:before {
  transform: scaleX(1);
}

.like-icon {
  width: 100%;
}

.sparks {
  opacity: 0;
}

.save-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  outline: none;
  padding-inline: 20px;
  padding-block: 16px;
  background: var(--main-color);
}

.button__text {
  color: var(--buttom-like-text-color);
  font-family: var(--decor-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  background: transparent;
  width: auto;
  padding: 0;
  height: 35px;
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: 2px solid transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card-heart-image {
  height: 100%;
}

.save-button-image {
  mix-blend-mode: difference;
  color: var(--buttom-like-text-color);
}

.modal-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-window {
  background: var(--main-color);
  border: 2px solid var(--accent-color);
  color: currentColor;
  font-family: var(--decor-font, fantasy);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
}

.modal-window_button {
  text-transform: uppercase;
  height: 38px;
  width: 293px;
  padding: 0;
}

.modal-window_form {
  padding: 30px;
}

.modal-window:is([open]) .modal-window_form {
  display: grid;
  gap: 30px;
  align-self: center;
}

.modal-window:is([open]) .save-button-image {
  min-width: 39px;
  height: auto;
  margin-inline-end: 20px;
}

.modal-window_content {
  display: flex;
}

.modal-window_text {
  display: block;
  max-width: 200px;
}

@media (width <= 376px) {
  :root {
    --section_with: 100vw;
  }

  .header {
    margin-block: 100px;
  }

  .title-big {
    margin-block-start: 120px;
  }

  .card__image {
    height: 371px;
  }

  .image__decor {
    right: 11px;
  }

  .save__dialog {
    min-width: 341px;
  }

  .save-button {
    flex-direction: column;
    width: 305px;
    gap: 10px;
  }

  .save-button-image {
    width: 28px;
    height: 28px;
  }

  .modal-window_button {
    width: 257px;
  }
}
