/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color, #000);
  background-image: var(--page-gradient);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wdth' var(--main-font-weight, 400);
}

.page__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--section_with);
  border: 2px solid var(--accent-color, #000);
  color: currentColor;
  background: var(--main-color, #fff);
}

.header {
  justify-content: flex-end;
  align-items: center;
  height: 368px;
  margin-block: 100px;
  font-family: var(--decor-font, sans-serif);
}

.header__theme-menu {
  display: flex;
  margin-block-start: 24px;
  margin-block-end: 23px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 105px;
}

.title-big {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: var(--title-size-big, 65px);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.title-med {
  font-weight: 400;
  font-size: var(--title-size-med, 65px);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid var(--accent-color, #000);
  background: var(--main-color);
  cursor: pointer;
}

.theme-menu__button {
  border: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition:
    opacity 0.3s,
    ease;
}

.theme-menu__item {
  position: relative;
  margin-inline-start: 18px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  border: none;
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s;
  transform: scaleX(1);
}

.theme-menu__item:has(.theme-menu__button:disabled)::before {
  content: '▶';
  position: absolute;
  left: -14px;
  opacity: 0.6;
  animation: decor-animation 0.5s infinite ease-in-out running both;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__description-image {
  position: relative;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
}

.image__decor {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--decor-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-shadow:
    -1px 0 var(--decor-shadow-color, #fff),
    0 1px var(--decor-shadow-color, #fff),
    1px 0 var(--decor-shadow-color, #fff),
    0 -1px var(--decor-shadow-color, #fff);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--decor-shadow-color, #fff)) or
    (-webkit-text-stroke: 1px var(--decor-shadow-color, #fff))
) {
  .image__decor {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--decor-shadow-color, #fff);
    text-stroke: 1px var(--decor-shadow-color, #fff);
  }
}

.card__image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.card:nth-of-type(1) .card__image {
  filter: invert(1) brightness(100%) saturate(60%) hue-rotate(90deg);
}
.card:nth-of-type(2) .card__image {
  filter: sepia(1);
}

.card:nth-of-type(3) .card__image {
  filter: contrast(100);
}

.card:nth-of-type(4) .card__image {
  filter: invert(1);
}

.card:nth-of-type(5) .card__image {
  filter: hue-rotate(20deg);
}

.card:nth-of-type(6) .card__image {
  filter: saturate(30%);
}

.card:nth-of-type(7) .card__image {
  filter: blur(0.3rem);
}

.card:nth-of-type(8) .card__image {
  filter: grayscale(0.8);
}

.card__description {
  display: flex;
  flex-direction: column;
  margin-block-end: 26px;
}

.card__description-title {
  padding-inline: 10px;
  padding-block: 5px;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--title-font-weight, 700);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.card__description-text {
  margin-inline: 25px;
  padding-block-start: 25px;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, 400);
  font-size: 18px;
  font-style: normal;
  line-height: 21px; /* 116.667% */
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin-inline-end: 26px;
  margin-block-end: 27px;
}

.card__like-button {
  width: 126px;
  height: 38px;
  padding: 0;
}

.button:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
}

.button:focus {
  border: none;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 0 var(--accent-color, #000);
  transition: box-shadow 0.3s;
}

.button:hover:before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.like-icon {
  width: 100%;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:hover .core {
  fill: var(--like-icon-core);
}

.like-icon:hover .main-body {
  fill: var(--like-icon-core);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition-delay: 0.05s;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-like 0.3s ease-in 0.3s 1 alternate;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition-delay: 0.06s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
}

.like-icon.is-liked .contour {
}

.save-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  border: none;
  padding-inline: 20px;
  padding-block: 16px;
  background: var(--main-color, #fff);
}

.button__text {
  color: var(--buttom-like-text-color);
  font-family: var(--decor-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  background: transparent;
  width: auto;
  padding: 0;
  height: 35px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card-heart-image {
  height: 100%;
}

.save-button-image {
  mix-blend-mode: difference;
  color: var(--buttom-like-text-color);
}

.modal-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-window {
  background: var(--main-color, #fff);
  border: 2px solid var(--accent-color, #000);
  color: currentColor;
  font-family: var(--decor-font, sans-serif);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
}

.modal-window_button {
  text-transform: uppercase;
  height: 38px;
  width: 293px;
  padding: 0;
}

.modal-window_form {
  padding: 30px;
}

.modal-window:is([open]) .modal-window_form {
  display: grid;
  gap: 30px;
  align-self: center;
}

.modal-window:is([open]) .save-button-image {
  min-width: 39px;
  height: auto;
  margin-inline-end: 20px;
}

.modal-window_content {
  display: flex;
}

.modal-window_text {
  display: block;
  max-width: 200px;
}

@media (width <= 376px) {
  :root {
    --section_with: 100v;
  }

  .save-button {
    flex-direction: column;
    width: 275px;
  }

  .header {
    height: 323px;
    margin-block: 102px;
  }
  .save__dialog {
    min-width: 341px;
  }

  .save-button-image {
    width: 28px;
  }
}
