/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'Inter', sans-serif;
  --decor-font: 'Press Start 2P', sans-serif;
  --title-font-weight: 700;
  --main-font-weight: 400;

  --title-size-big: clamp(3.063rem, 1.768vw + 2.648rem, 4.063rem);
  --title-size-med: clamp(0.875rem, 0.994vw + 0.642rem, 1.438rem);

  --main-color: #fff;
  --accent-color: #000;
  --decor-shadow-color: #fff;
  --buttom-like-text-color: #fff;

  --like-icon-contour: var(--accent-color);
  --like-icon-sparks: #ff0000;
  --like-icon-main-body: var(--accent-color);
  --like-icon-core: var(--accent-color);

  --section_with: clamp(371px, 60%, 700px);
  --page-gradient: repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
}
