/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'Inter', sans-serif;
  --decor-font: 'Press Start 2P', sans-serif;
  --title-font-weight: 700px;
  --main-font-weight: 400px;

  --title-size-big: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size-med: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  --main-color: #fff;
  --accent-color: #000;

  --section_with: clamp(200px, 50%, 700px);
  --page-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 /0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #000 0 2px, rgb(211 211 211 /0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

@media screen and (max-width: 575px) {
  :root {
  }
}
